<!doctype html>
<html>
  <head>
    <title>BroGhost - {{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <header>
      <h1>{{ title }}</h1>
    </header>
    <nav>
      <ul>
        {% for delta in ('8h', '24h', '7d', '30d', '90d') %}
          <li {{ 'class="active"' if original_delta == delta }}>
            <a href="{{ url_for('index', tag=original_tag, delta=delta, start=original_start, stop=original_stop, step=original_step) }}">
              {{ delta }}
            </a>
          </li>
        {% endfor %}
      </ul>
      <ul>
        {% for name, tag in tags.items() %}
          <li {{ 'class="active"' if original_tag == tag }}>
            <a href="{{ url_for('index', tag=tag, delta=original_delta, start=original_start, stop=original_stop, step=original_step) }}">
              {{ name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <main>{% block main %}{% endblock main %}</main>
  </body>
</html>
