{% extends '_layout.jinja2' %}

{% macro timeline(times, level, uptime) %}
  {% if (times | length) < 200 %}
    <div class="status-bar">
      {% for time, statuses in times.items() %}
        {% set status = statuses.pop('status') %}
        <div class="status" data-status="{{ status }}">
          <aside>{{ status }}</aside>
          <section>
            <h{{ level }}>{{ time }}</h{{ level }}>
            <dl>
              {% for status, value in statuses.items() %}
                <dt>{{ 'OK' if status == 'info' else status.title() }}</dt>
              <dd>{{ value }}</dd>
            {% endfor %}
            </dl>
          </section>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <dl class="legend">
    <dt>Start</dt>
    <dd>
      {% if original_start and original_stop %}
        {{ original_start.replace('T', ' ').rsplit(':', 1)[0] }}
      {% else %}
        {{ original_delta[:-1] }} {{ 'hours' if 'h' in original_delta else 'days' }} ago
      {% endif %}
    </dd>
    <dt>Stop</dt>
    <dd>
      {% if original_start and original_stop %}
        {{ original_stop.replace('T', ' ').rsplit(':', 1)[0] }}
      {% else %}
        {{ 'Now' if 'h' in original_delta else 'Today' }}
      {% endif %}
    </dd>
    <dt>Uptime</dt>
    <dd>{{ 'N/A' if uptime == None else '{:.2f}'.format(uptime) }}%</dd>
  </dl>
{% endmacro %}

{% block main %}
  {% for group, times in data.items() | sort %}
    <article>
      <h2>{{ group }}</h2>
      {{ timeline(times, level=3, uptime=uptimes[group]) }}
      <details>
        <summary>Details</summary>
        {% for name, times in group_data[group].items() %}
          <article>
            <h3>{{ name }}</h3>
            {{ timeline(times, level=4, uptime=group_uptimes[group][name]) }}
          </article>
        {% endfor %}
      </details>
    </article>
  {% endfor %}
{% endblock main %}
